@import "bootstrap/scss/bootstrap";

.nav-padding {
    padding: 10px 100px;
}

.nav-header {
  font-size: 25px;
}

.nav-item-margin {
  margin-right: 20px;
}

.navbar-brand-margin {
  margin-right: 100px;
}

.container-padding {
  padding: 50px 100px;
}

.card-margin {
  margin: 20px;
}